<header
  class="min-h-screen w-full flex flex-col items-center justify-center overflow-hidden bg-primary"
>
  <div class="w-full flex justify-center">
    <img
      src="/img/hero.png"
      class="w-[clamp(300px,60vw,2160px)] max-h-[80vh] object-contain"
      alt="Commander Nilpfred"
    />
  </div>
  <nav class="mt-6">
    <ul
      class="flex flex-col lg:flex-row space-y-3 lg:space-y-0 lg:space-x-6 text-xl uppercase tracking-wider text-center"
    >
      <li>
        <a
          class="text-white font-bold hover:text-white/60 transition-colors cursor-pointer"
          (click)="navigateTo('musik')"
        >
          Musik
        </a>
      </li>

      <li>
        <a
          class="text-white font-bold hover:text-white/60 transition-colors cursor-pointer"
          (click)="navigateTo('band')"
        >
          Commander wer?
        </a>
      </li>

      <li>
        <a
          class="text-white font-bold hover:text-white/60 transition-colors cursor-pointer"
          (click)="navigateTo('termine')"
        >
          Termine
        </a>
      </li>

      <li>
        <a
          class="text-white font-bold hover:text-white/60 transition-colors cursor-pointer"
          (click)="navigateTo('booking')"
        >
          Anfrage
        </a>
      </li>

      <li>
        <a
          class="text-white font-bold hover:text-white/60 transition-colors cursor-pointer"
          (click)="navigateTo('kontakt')"
        >
          Kontakt
        </a>
      </li>
    </ul>
  </nav>
</header>
