<footer class="py-12 bg-black text-center text-white/50 text-sm px-4">
  <p>Copyright &copy; cBernardy Werbung für Commander Nilpfred {{ year }}</p>
  <div class="mt-2 space-x-4">
    <a
      routerLink="/impressum"
      fragment="impressum"
      class="text-primary hover:text-primary-dark transition-colors"
      >Impressum</a
    >
    <a
      routerLink="/impressum"
      fragment="dsgvo"
      class="text-primary hover:text-primary-dark transition-colors"
      >Datenschutzerklärung</a
    >
  </div>
</footer>
